# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.firebase
.firebase/hosting.LmZpcmViYXNlL2Rldi1oYWthcmVudGFsLWNtcy9ob3N0aW5n.cache
.firebase/dev-hakarental-cms/hosting/index.html
.firebase/dev-hakarental-cms/hosting/assets/index-Bmu6k1su.js
